#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#form-publication{
    text-align: center;
}
#butPublic{
    border-radius: 20px;
}
/* #topPage{
    background-image: url(/phone/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 170vh;
} */
