#title{
    text-shadow: 2px 2px 5px red;
    text-align: center;
}

#textJoke{
    color:blue;
    text-align: center;
}
#photoJoke{
    display: flex;
    justify-content: center;
}
#randomH2{
    
    text-align: center;
}